.time-management-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .time-management-app .log {
    min-width: 330px;
    width: min-content;
    height: calc(100vh - 73px);
    overflow: auto; }
    .time-management-app .log .log-record {
      display: grid; }
  .time-management-app .buttons-container {
    padding: 5px;
    width: 450px;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .time-management-app .buttons-container .button {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer; }
  .time-management-app .modal-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px; }
    .time-management-app .modal-container .task-form {
      margin: auto;
      padding: 10px;
      width: 250px;
      display: flex;
      justify-content: space-around; }
    .time-management-app .modal-container .working {
      margin: auto;
      padding: 10px;
      width: 300px;
      height: min-content;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .time-management-app .modal-container .working .button {
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer; }
